<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flowers</title>
</head>
<body>
    <nav>
        <div>What should I plant in Texas?</div>
        <a href="/flowers/index">Search Flowers</a>
        <a href="/flowers/new">Add a Flower</a>
        <a href="flowers/user">My Flowers</a>
    </nav>
    <h1>Search for Flowers:</h1>
</body>
</html>