<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>Flowers</title>
  </head>
  <body>
    <br>
    <div class="welcome-header">
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Texas_flag_map.svg" alt="texasflag" height="25px">
      <h1>Welcome to Texas Flower Search</h1>
      <img src="https://upload.wikimedia.org/wikipedia/commons/3/35/Texas_flag_map.svg" alt="texasflag" height="25px">
    </div>
    <h3>Please <a href="/auth/google">Login with Google</a><br> to explore the Flowers that will be perfect for your garden.</h3>
  </body>
</html>
