* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-weight: none;
}

.main-nav {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
}

.nav-links {
  display: inline;
  float: left;
  color: white;
  text-align: left;
  padding: 1em 2em;
  text-decoration: none;
}

.login {
  float: right;
  background-color: rgb(185, 3, 3);
}

li > a:hover {
  background-color: #111;
}

h1 {
  margin: .5em;
  font-size: 2.5em;
}

h3 {
  margin: .1em;
  font-size: 1.7em;
}

.flower {
  margin: 1em auto;
  border: .3em solid black;
  width: 75%;
  display: grid;
  grid-template-columns: 2fr 6fr 1fr;
  height: 8em;
  justify-items: center;
  align-items: center;
}

.flower-img > img{
  height: 7em;
  width: 7em;
  border: .2em solid black;
  border-radius: 50%;
  padding: .1em;
}

.flower-info {
  text-align: left;
}

.flower-title {
  font-size: 2em;
}

.add-flower {
  display: block;
  font-size: 3em;
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 700px) {
  .main-nav {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
  }

  .nav-links {
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }

  .login {
    float: none;
    background-color: #333;
  }
}

