* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-weight: none;
}

.main-nav {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
}

.nav-links {
  display: inline;
  float: left;
  color: white;
  text-align: left;
  padding: 14px 30px;
  text-decoration: none;
}

.login {
  float: right;
}

li > a:hover {
  background-color: #111;
}

h1 {
  margin: 10px;
  font-size: 45px;
}

h3 {
  margin: 10px;
  font-size: 25px;
}

.flower {
  margin: 20px auto;
  border: 6px solid black;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 130px;
  justify-items: center;
  align-items: center;
}

.flower-img > img{
  height: 100px;
  border: 4px solid black;
  border-radius: 50%;
  padding: 2px;
}

.flower-info {
  text-align: left;
}

.flower-title {
  font-size: 35px;
}