* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Bree Serif', serif;
  text-align: center;
  font-weight: none;
}

.main-nav {
  list-style-type: none;
  background-color: #333;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: auto;
}

.nav-links {
  display: inline;
  float: left;
  color: white;
  text-align: left;
  padding: 1em 2em;
  text-decoration: none;
}

.login {
  float: right;
  background-color: rgb(185, 3, 3);
}

li > a:hover {
  background-color: #111;
}

h1 {
  margin: .5em;
  font-size: 2.5em;
}

h3 {
  margin: .1em;
  font-size: 1.5em;
}

.flower {
  margin: 1em auto;
  border: .25em solid black;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  align-items: center;
}

.flower-img > img{
  height: 7em;
  width: 7em;
  border: .2em solid black;
  border-radius: 50%;
  padding: .1em;
  margin: .1em;
}

.flower-info {
  text-align: left;
  padding: 0 2em;
}

.flower-title {
  font-size: 2em;
}

.favorite-button {
  justify-content: left;
}

.add-flower {
  display: block;
  font-size: 3em;
}

.welcome-header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.show-flower {
  height: 10em;
  width: 10em;
  border: .2em solid black;
  padding: .1em;
  margin: .1em;
}

table {
  margin-left: auto;
  margin-right: auto;
}

thead, tbody, td {
  margin: 3em;
}

.show-page {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

@media only screen and (max-width: 700px) {
  .main-nav {
    display: grid;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #333;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: auto;
  }

  .nav-links {
    color: white;
    text-align: center;
    justify-content: center;
    text-decoration: none;
  }

  .login {
    float: none;
    background-color: #333;
  }

  .flower {
    margin: 1em auto;
    border: .25em solid black;
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
  }
}

